

.App {
  text-align: center;
}

.App-header {
  height: 60px;
  line-height: 60px;
  text-align: left;
}

.App-header img {
  width: 80px;
  height: 60px;
}
.App-header h1 {
  vertical-align: top;
  display: inline-block;
  padding: 0px;
  margin: 0px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.title {
  color: #737373;
  font-family: Helvetica;
  font-size: 32px;
}

.game-board {
  background-color: #19181a;
  background-image: url(./img/circuit-board.svg);
  position: relative;
  margin: 10px auto;
  border-left: 10px solid #ccc;
  border-bottom: 10px solid #B3B3B3;
  border-top: 10px solid #ccc;
  border-right: 10px solid #B3B3B3;
}

.snake-head {
  /* background-color: #fff; */
  width: 32px;
  height: 32px;
  position: absolute;
  font-size: 32px;
}

.food {
  /* background-color: yellow; */
  width: 32px;
  height: 32px;
  position: absolute;
  font-size: 32px;
}

.start-button {
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
  margin-top: 300px;
}

.start-button .title {
  margin-bottom: 10px;
}

.start-button button {
  padding: 10px 40px;
  background-color: yellow;
  font-size: 32px;
  border-radius: 4px;
  cursor: pointer;
}
